@model RepairAppClient.CaseService.CaseDto

@{
    ViewBag.Title = "Detaljer";

}

<h2>Ärendedetaljer</h2>
<div>
    @if (User.Identity.IsAuthenticated)
    {

        <p>
            @Html.ActionLink("Tillbaka", "Index") |
            @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Ange status", "Create", "Quote", new { caseId = Model.Id }, "") |
            @Html.ActionLink("Lägg till kostnadsförslag", "Create", "Quote", new { caseId = Model.Id }, "")
        </p>
    }

        <hr />
        <h4>Ärendeuppgifter</h4>
        <dl class="dl-horizontal">

            <dt>
                Kundens namn
            </dt>
            <dd>
                @Html.ActionLink(Model.CustomerDto.FirstName + " " + Model.CustomerDto.LastName, "Details", "Customer", new { id = Model.CustomerDto.Id }, "")

            </dd>

            <dt>
                Skapad
            </dt>
            <dd>
                @Model.DateTime.ToString("yyy-MM-dd")
            </dd>

            <dt>
                Anställd
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EmployeeId)
            </dd>

            <dt>
                Felbeskrivning
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ErrorDescription)
            </dd>

            <dt>
                Beräknas färdig
            </dt>
            <dd>
                @Model.DateTime.ToString("yyy-MM-dd")
            </dd>

            <dt>
                Guid
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Guid)
            </dd>

            <dt>
                Status
            </dt>
            <dd>
                @Html.DisplayFor(model => model.StatusDto.Name)
            </dd>

        </dl>
    </div>


<hr />
<div>
    <h4>Produktinformation</h4>

    <dl class="dl-horizontal">

        <dt>
            Märke
        </dt>
        <dd>
            @ViewBag.Product.Märke
        </dd>

        <dt>
            Modell
        </dt>
        <dd>
            @ViewBag.Product.Modell
        </dd>

        <dt>
            Serienummer
        </dt>
        <dd>
            @ViewBag.Product.Serienummer
        </dd>

        <dt>
            Årsmodell
        </dt>
        <dd>
            @ViewBag.Product.Årsmodell
        </dd>

    </dl>
</div>


<hr />
<h4>Kostnadsförslag</h4>

@if (Model.QuoteDtos.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                Skapat
            </th>
            <th>
                Åtgärd
            </th>
            <th>
                Kostnad
            </th>
            <th>
                Besvarat
            </th>
            <th>
                Accepterat
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.QuoteDtos)
        {
            <tr>
                <td>
                    @item.Created.ToString("yyy-MM-dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Measure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accepted)
                </td>
                <td>

                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Ta bort kostnadsförslag", "Delete", "Quote", new { id = item.Id, caseId = Model.Id }, "")
                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Acceptera", "AnswerQuote", "Quote", new { quoteId = item.Id, answer = true, guidString = Model.Guid.ToString() }, "") 
                        @Html.Encode(" | ")
                        @Html.ActionLink("Avböj", "AnswerQuote", "Quote", new { quoteId = item.Id, answer = false, guidString = Model.Guid.ToString() }, "")
                    }

                </td>
            </tr>
        }

    </table>

}
