@model RepairAppClient.CaseService.CaseDto

@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer</h2>

<div>
    <h4>Ärende</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kundens namn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerDto.FirstName)  @Html.DisplayFor(model => model.CustomerDto.LastName)
        </dd>

        <dt>
            Skapad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            Anställd
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            Felbeskrivning
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorDescription)
        </dd>

        <dt>
            Beräknas färdig
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedDeliveryDate)
        </dd>

        <dt>
            Guid
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>

        <dt>
            Produkt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDto.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka", "Index") |
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Lägg till kostnadsförslag", "Create", "Quote", new { caseId = Model.Id}, "")
</p>
