@model RepairAppClient.CaseService.CustomerDto

@{
    ViewBag.Title = "Detaljer";
}

<h2>Kunduppgifter</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Förnamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>


        <dt>
            Efternamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>


        <dt>
            Telefon
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>


        <dt>
            Epost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt>
            Adress
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>


        <dt>
            Stad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>


        <dt>
            Postnummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka", "Index") |
    @Html.ActionLink("Ändra", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Ta bort", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Skapa ärende", "Create", "Case", new { id = Model.Id }, "")
</p>
