@model IEnumerable<RepairAppClient.CaseService.CustomerDto>

@{
    ViewBag.Title = "Kunder";
}

<h2>Kunder</h2>

<p>
    @Html.ActionLink("Lägg till kund", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Förnamn
        </th>
        <th>
            Efternamn
        </th>
        <th>
            Telefon
        </th>
        <th>
            Epost
        </th>
        <th>
            Adress
        </th>
        <th>
            Stad
        </th>
        <th>
            Postnummer
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Zip)
    </td>
    <td>
        @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
        @Html.ActionLink("Skapa ärende", "Create", "Case", new { id = item.Id }, "")
    </td>
</tr>
}

</table>
